﻿@model IEnumerable<BlogEngineApp.Models.Friend>

@{
    ViewBag.Title = "Birthday";
}
<h2>Денес имаат роденден</h2>
<div class="birthdayCard">











@foreach (var item in Model)
{
    
   <h1>  @Html.DisplayFor(modelItem => item.Name) </h1>
}
 
</div> 





