﻿@model BlogEngineApp.Models.Friend

@{
    ViewBag.Title = "Create";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    

        <div class="editor-label">
            Име и презиме
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
          Електронска пошта
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
        </div>
        
        <div class="editor-label">
        Датум на раѓање
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <p>
            <input type="submit" value="Зачувај" />
        </p>
    
}

<div>
    @Html.ActionLink("Врати се на почетна", "Index", "Blog")
</div>


          