﻿@model BlogEngineApp.Models.Friend

@{
    ViewBag.Title = "Delete";
}



<h3>Дали сте сигурни дека сакате да го избришете овој пријател?</h3>

    

    <div class="display-label">Име и презиме</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Електронска пошта</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Датум на раѓање</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>


@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Избриши" /> |
        @Html.ActionLink("Врати се кон листата од пријатели", "Index")
    </p>
}
