﻿@model BlogEngineApp.Models.Friend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Friend</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">ImageData</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageData)
    </div>

    <div class="display-label">ImageMimeType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageMimeType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FriendId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
