﻿@model IEnumerable<BlogEngineApp.Models.Friend>

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.cs")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("../style-projects-jquery.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11..js")" type="text/javascript"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Додади пријател", "Create")
</p>
<table>
    <tr>
        <th>
            Име и презиме
        </th>
        
        <th>
            Датум на раѓање
        </th>

        <th>
            Електронска пошта
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Промени", "Edit", new { id=item.FriendId }) |
            @Html.ActionLink("Избриши", "Delete", new { id=item.FriendId })
        </td>
    </tr>
}

</table>




