﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("../style-projects-jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>  Добредојдовте на мојот блог </h1>
            </div>
          <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
           
        </div>
        <div id="main">
          @*   <div id="sidebar">
              <img id="portrait" src="@Href("~/Content/Images/myphoto.jpg")" alt="Portrait"  height="250" width = "200"/>
             </div>
             *@
            @RenderBody()
        </div>
        <div id="foother">
         
        </div>
    </div>
</body>
</html>
