﻿@if(Request.IsAuthenticated) {
    <text>Добредојде <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Одлогирај се", "LogOff", "Account") ]</text>
}
else {
     @Html.ActionLink("Администратор", "LogOn", "Account") 
}
