﻿@model BlogEngineApp.Blog

@{
    ViewBag.Title = "Create new post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")"    type="text/javascript"></script>
<script src="@Url.Content("/ckeditor/adapters/jquery.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    

        <div class="editor-label">
            Наслов на пост
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.TextBox("DateCreated", Model.DateCreated.ToString("dd/MM/yyyy"), new { style = "width: 120px" })
        </div>


        <div class="editor-label">
           Содржина
        </div>
        <div class="textarea">
        @Html.TextAreaFor(model => model.Description, new { @class="adminRichText"})
        @*    @Html.TextAreaFor(model => model.Description, new { cols = "60%" ,rows = "20"}) *@
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        
        

        <p>
            <input type="submit" value="Додади" />
        </p>
   
}

<div>
    @Html.ActionLink("Назад кој листата", "Index")
</div>

<script language="javascript" type="text/javascript">
jQuery(".adminRichText").ckeditor();
</script>