﻿@model BlogEngineApp.Blog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Дали сакате да го избришете овој пост?</h2>



<div class="BlogContainer">
          
        
        <div class = "BlogCreated">
          
           @Html.DisplayFor(model => model.DateCreated)
        </div>

        <div class="BlogContent">
            
          @*  @Html.DisplayFor(model => model.Description) *@
          @Html.Raw(Model.Description)
            </div>

       
        
   
   </div>

@using (Html.BeginForm()) {
    
        <input type="submit" value="Избриши" /> 
        <br/>
        @Html.ActionLink("Назад кон почетна", "Index")
   
}
