﻿@model BlogEngineApp.Blog

@{
    ViewBag.Title = "Промена на пост";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")"    type="text/javascript"></script>
<script src="@Url.Content("/ckeditor/adapters/jquery.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
   

        @Html.HiddenFor(model => model.BlogId)

        <div class="editor-label">
            Наслов
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            Содржина
        </div>
        <div class="editor-field">

          @Html.TextAreaFor(model => model.Description, new { @class="adminRichText"})
        @*    @Html.TextAreaFor(model => model.Description, new { cols = "60%", rows = "20" }) *@
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        
        <div class="editor-field">
            @Html.HiddenFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>
        <br />
        

        <p>
            <input type="submit" value="Зачувај" />
        </p>
    
}

<div>
    @Html.ActionLink("Назад кон листата", "Index")
</div>


<script language="javascript" type="text/javascript">
    jQuery(".adminRichText").ckeditor();
</script>