﻿@{
    ViewBag.Title = "Galery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.lightbox-0.5.js")" type="text/javascript"></script>





<script type="text/javascript">
    $(function () {
        $('#gallery a').lightBox();
    });
</script>


<div class="pictures">
        <div id="gallery">
               <h2>Франција</h2>
         <ul>
                <li>
                    

                     <a href="@Url.Content("~/Content/Galery/image2.JPG")" title="Градините на версај">
                       <img src="@Href("~/Content/Galery/thumb_image2.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image3.JPG")" title="Дизниленд">
                       <img src="@Href("~/Content/Galery/thumb_image3.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image4.JPG")" title="Пристаниште во Франција">
                       <img src="@Href("~/Content/Galery/thumb_image4.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image5.JPG")" title="Ајфелова кула">
                       <img src="@Href("~/Content/Galery/thumb_image5.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image6.JPG")" title="Лувр">
                       <img src="@Href("~/Content/Galery/thumb_image6.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image7.JPG")" title="Поглед од ајфелова кула">
                       <img src="@Href("~/Content/Galery/thumb_image7.JPG")" width="72" height="72" alt="" />
                     </a>

                </li>
         </ul>


         <h2>Италија</h2>
         <ul>
                <li>
                    

                     <a href="@Url.Content("~/Content/Galery/image9.jpg")" title="Фиренца">
                       <img src="@Href("~/Content/Galery/thumb_image9.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image10.JPG")" title="Кривата кула во Пиза">
                       <img src="@Href("~/Content/Galery/thumb_image10.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image11.JPG")" title="Тиволи">
                       <img src="@Href("~/Content/Galery/thumb_image11.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image12.JPG")" title="Гробот на Јулија">
                       <img src="@Href("~/Content/Galery/thumb_image12.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image13.JPG")" title="Венеција">
                       <img src="@Href("~/Content/Galery/thumb_image13.JPG")" width="72" height="72" alt="" />
                     </a>

                     <a href="@Url.Content("~/Content/Galery/image14.JPG")" title="Црквата Св.Петар во Ватикан">
                       <img src="@Href("~/Content/Galery/thumb_image14.JPG")" width="72" height="72" alt="" />
                     </a>

                </li>
         </ul>


        </div>
 </div>

 <div>
    @Html.ActionLink("Врати се на почетна", "Index", "Blog")
</div>
