﻿@model IEnumerable<BlogEngineApp.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isPriviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
    
    
}

<div id="sidebar">
              <img id="portrait" src="@Href("~/Content/Images/myphoto.jpg")" alt="Portrait"  height="250" width = "200"/> </br> </br>

              

              <img id="friendrequest" src="@Href("~/Content/Images/friendrequest.jpg")" alt="friend"  height="150" width = "100"/> </br>

              @Html.ActionLink("Станете мој пријател", "Create", "Friend")

              <br/>

              @if (User.Identity.IsAuthenticated)
              {
              @Html.ActionLink("Денес имаат роденден", "Birthday", "Friend")
              }
</div>


<div id= "leftside">
 
 <h2> Галерија </h2>
 
 <a href="@Url.Action("Galery","Blog")"><img id="photo" src="@Url.Content("~/Content/Galery/francija.gif")" alt="Blog" height="150" width = "120" /></a>
 <br/>
  Франција
 </div>

 
 
@if (User.Identity.IsAuthenticated)
{
    <h1>
    @Html.ActionLink("Додади нов пост", "Create")
    </h1>

}





 


@foreach (var item in Model) {
   
          <div class="BlogTitle">
          @Html.ActionLink(item.Title, "OpenBlog", "Blog", new { blogId=item.BlogId },null)
          </div>
        
    <div class="BlogContainer">
          
        
        <div class = "BlogCreated">
          @*  @Html.DisplayFor(modelItem => item.DateCreated.Month)*@
           @Html.DisplayFor(modelItem => item.DateCreated)
        </div>

        <div class="BlogContent">
            @if (item.Description.Length > 555)
            {
                item.Description = string.Format("{0} ...", item.Description.Substring(0, 554));
            }
          
          @*  @Html.DisplayFor(modelItem => item.Description) *@
                @Html.Raw(item.Description)
            </div>

        <div class="PostsNumber">

       
            @Html.DisplayFor(modelItem => item.Posts)
        

         
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="BlogLinks">
        
           
            @Html.ActionLink("Промени", "Edit", new { id = item.BlogId }) |
            
            @Html.ActionLink("Избриши", "Delete", new { id = item.BlogId }) 
       </div>
        }
   </div>
}

@if (isPriviousLinkVisible)
{
    <a id="previousLink" href="@Href("~/Blog/Index/" + (ViewBag.PageNumber - 1))"> &lt Претходна страна </a>
}

@if (isNextLinkVisible)
{
    <a id="nextLink" href="@Href("~/Blog/Index/" + (ViewBag.PageNumber + 1))">  Следна страна &gt </a>
}


