﻿@model BlogEngineApp.Blog



@{
    ViewBag.Title = "OpenBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="BlogTitle">
          @Html.DisplayFor(model => model.Title)
          </div>

<div class="BlogContainer">
          
        
        <div class = "BlogCreated">
          
           @Html.DisplayFor(model => model.DateCreated)
        </div>

        <div class="BlogContent">
            
          @*  @Html.DisplayFor(model => model.Description) *@
          @Html.Raw(Model.Description)
            </div>

       
   
   </div>

   @foreach (BlogEngineApp.Models.Post post in Model.Posts)
   {
    

         
     <div class="CommentContainer">
        <div class="CommentTitle">
               <div class="CommentImage">
        @if (post.ImageData != null) { 
               <div style="float:left;margin-right:20px"> 
                    <img width="45" height="45" src="@Url.Action("GetImage", "Post", 
                         new { post.PostId })" alt="" /> 
               </div> 
           } 
           </div>
          
            @Html.DisplayFor(modelItem => post.Title)
            ::
        </div>
        <div class="CommentContent">
            @Html.DisplayFor(modelItem => post.Content)
        </div>
        <div class="CommentDate">
            @Html.DisplayFor(modelItem => post.DateCreated)
        </div>

        

        @if (User.Identity.IsAuthenticated)
        {
        <div>
            
            @Html.ActionLink("Избриши", "Delete", "Post", new { id = post.PostId }, null)
        </div>
        }
   </div>
}

<div = class="NewPost">
<button onclick="location.href='@Url.Action("Create", "Post", new { blogId = Model.BlogId })'">Остави коментар</button>
</div>

<div>
    @Html.ActionLink("Врати се на насловна", "Index", "Blog")
</div>