﻿@model BlogEngineApp.Models.BlogPostViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)
   

         
        <div class="editor-field">
            @Html.HiddenFor(model => model.BlogId)
        </div>
        <div class="editor-label">
           Име и презиме
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Post.Title)
            @Html.ValidationMessageFor(model => model.Post.Title)
        </div>

       

        <div class="editor-label">
            Содржина на коментарот
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Post.Content, new { cols = "60%", rows = "20" })
            @Html.ValidationMessageFor(model => model.Post.Content)
        </div>

        
        <div class="editor-field">
            @Html.HiddenFor(model => model.Post.DateCreated)
            @Html.ValidationMessageFor(model => model.Post.DateCreated)
        </div>

        <div class="editor-label"> Фтографија </div>

        <div class="editor-field">
           @*if (Model.Post.ImageData == null)
           {
               @:Немате закачено фотографија
           }
           else
           {
               <img width="150" height="150" src="@Url.Action("GetImage", "Post", new {Model.Post.PostId})" alt="" />
           }
           *@
           <div> Закачете нова фотографија: <input type="file" name="Image" value="Изберете слика" /> </div>
        </div>
        <p>
            <input type="submit" value="Зачувај го коментарот" />
        </p>
    
}

<div>
    @Html.ActionLink("Врати се на почетна", "Index", "Blog")
</div>
