﻿@model BlogEngineApp.Models.Post

@{
    ViewBag.Title = "Коментар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Дали сте сигурен дека сакате да го избришете овој коментар?</h3>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

     <div class="CommentContainer">
        <div class="CommentTitle">
          
            @Html.DisplayFor(modelItem => Model.Content)
            ::
        </div>
        <div class="CommentContent">
            @Html.DisplayFor(modelItem => Model.Content)
        </div>
        <div class="CommentDate">
            @Html.DisplayFor(modelItem => Model.DateCreated)
        </div>
</div>


@using (Html.BeginForm()) {
    
        <input type="submit" value="Избриши" /> 
        <br/>
        @Html.ActionLink("Back to List", "Index")
   
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
