﻿
 @model IList<BlogEngineApp.Models.Post> 
 
          


                      
@{
    ViewBag.Title = "Blogs posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = ViewBag.isAdmin ?? false;
    
}




<h2>Blog posts</h2>






@foreach (var item in Model) {
    

         
     <div class="CommentContainer">
        <div class="CommentTitle">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="CommentContent">
            @Html.DisplayFor(modelItem => item.Content)
        </div>
        <div class="CommentDate">
            @Html.DisplayFor(modelItem => item.DateCreated)
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit","Post", new { id = item.PostId }) |
            @Html.ActionLink("Details", "Details", "Post", new { id = item.PostId }) |
            @Html.ActionLink("Delete", "Delete", "Post", new { id = item.PostId })
        </div>
   </div>
}


<div>
    @Html.ActionLink("Back to List", "Index", "Blog")
</div>