﻿@model BlogEngineApp.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
}


<p>
    Внесете корисничко име и лозинка.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Неуспешно логирање. Обидете се повторно")

@using (Html.BeginForm()) {
    <div>
        

            <div class="editor-label">
                Корисничко име
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
               Лозинка
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            

            <p>
                <input type="submit" value="Логирај се" />
            </p>
       
    </div>
}
